* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

:root {
  /* Font Sizes */
  --font-size-heading: 8rem;
  --font-size-title: 1.5rem;
  --font-size-sub-title: 1.2rem;
  --font-size-paragraph: 1rem;
  --font-size-label: 0.875rem;

  /* Colors */
  --primary-white-color: #fff;
  --secondary-white-color: #f4f4f4;
  --bg-gray: #f3f3f3;
  --primary-black-color: rgba(26, 26, 26);
  --secondary-black-color: rgba(26, 26, 26, 0.5);
  --primary-purple-color: rgba(105, 82, 181);
  --secondary-purple-color: rgba(105, 82, 181, 0.2);
}

/* ------------------------------
   2. Typography
------------------------------ */
.heading {
  font-size: var(--font-size-heading);
}
.title {
  font-size: var(--font-size-title);
}
.sub-title {
  font-size: var(--font-size-sub-title);
}
.paragraph {
  font-size: var(--font-size-paragraph);
}
.label {
  font-size: var(--font-size-label);
}
.text-md {
  font-weight: 500;
}

/* ------------------------------
   3. Utility Classes
------------------------------ */
a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary-black-color);
}

section {
  margin: 2rem auto;
}

/* Flex utilities */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}

/* Spacing utilities */
.gap-1 {
  gap: 0.75rem;
}
.gap-2 {
  gap: 1.6rem;
}
.w-full {
  width: 100%;
}

/* Text and background helpers */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-purple {
  background-color: var(--primary-purple-color);
  color: var(--secondary-purple-color);
}
.bg-gray {
  background-color: var(--secondary-black-color);
  color: var(--bg-gray);
}
hr {
  border: none;
  height: 0.5px;
  width: 350px;
  background-color: var(--secondary-black-color);
}

/* ------------------------------
   4. Layout
------------------------------ */
main {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* Sidebar */
nav.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  max-width: 300px;
  height: 100%;
  padding: 1rem;
  background-color: var(--secondary-white-color);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}
nav.sidebar.show {
  transform: translateX(0);
}
.burger-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
  z-index: 99;
}
.sidebar .close-btn {
  position: absolute;
  display: block;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-black-color);
}

/* Container */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
}

/* ------------------------------
   5. Sidebar Elements
------------------------------ */
.logo {
  width: 100%;
}
.logo img {
  width: 2rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.sidebar-group {
  margin: 2rem 0 1rem;
}
.sidebar-group a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-black-color);
  padding: 0.7rem 0.785rem;
  border-radius: 0.785rem;
  transition: background-color 0.2s ease;
}
.sidebar-group a:hover {
  background-color: var(--secondary-black-color);
  color: var(--primary-white-color);
}
.sidebar-group .active {
  background-color: var(--secondary-black-color);
  color: var(--primary-white-color);
}

/* ------------------------------
   6. Components
------------------------------ */
header {
  display: flex;
  flex-direction: column;
}
.stat-card {
  width: 384px;
  background-color: var(--bg-gray);
  padding: 2rem 1rem;
  border-radius: 2rem;
}
.stat-card h2 {
  font-size: 4rem;
}

.search-bar {
  background-color: var(--secondary-white-color);
  border-radius: 1rem;
  padding: 0.875rem 1rem;
  width: 100%;
  border: 1px;
}
.search-bar:focus-within {
  border: 1px solid var(--secondary-black-color);
}
.event-container,
.task-container {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  /* scroll-behavior: smooth; */
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.event-container > *,
.task-container > * {
  flex: 0 0 auto;
}

.event-group,
.task-group {
  padding: 1rem;
  border-radius: 2rem;
  height: fit-content;
  width: 384px;
  transition: transform 0.3s ease-out;
  scroll-snap-align: start;
}

.event-group {
  background-color: var(--secondary-purple-color);
}

.task-group {
  background-color: var(--bg-gray);
}
.event-group:hover,
.task-group:hover {
  transform: translateY(-1rem);
}

/* Inner content */
.item-group {
  padding: 1rem;
  background-color: var(--primary-white-color);
  border-radius: inherit;
}
.item-group .label {
  color: #777777;
}

/* Tags */
.tag {
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  color: var(--secondary-white-color);
  font-size: var(--font-size-label);
}

/* Task-specific tag, label */
.task-group .tag {
  background-color: var(--secondary-black-color);
  color: var(--primary-black-color);
}
.task-group .label {
  line-height: 1.3rem;
}

.task-group .label:nth-child(1) {
  background-color: var(--secondary-black-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  color: var(--secondary-white-color);
  line-height: 1rem;
}

/* Thumbnail images */
.thumbnail {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: inherit;
}

/* About Page */

.about-card {
  padding: 1rem;
  background-color: var(--bg-gray);
  border-radius: 2rem;
  color: var(--secondary-black-color);
}
.about-card .thumbnail {
  background-color: var(--primary-white-color);
  width: 100%;
  height: 90%;
  padding: 5rem;
}

.about-card a {
  padding: 0.75rem 1rem;
  background-color: var(--secondary-black-color);
  color: var(--primary-white-color);
  border-radius: 1rem;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-black-color);
  z-index: 1000;
  padding: 1rem;
}

/* Modal */
.modal {
  background: var(--primary-white-color);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
}

.modal-form label {
  display: block;
  margin: 0.5rem 0 0.25rem;
}

.modal-form input,
.modal-form textarea,
.modal-form select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--bg-gray);
  border-radius: 0.5rem;
  font-size: var(--font-size-paragraph);
}

.modal-form textarea {
  resize: vertical;
}

.btn {
  padding: 0.785rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: var(--font-size-paragraph);
}

.btn-primary {
  background: var(--primary-black-color);
  color: var(--primary-white-color);
}

.btn-secondary {
  background: var(--bg-gray);
  color: var(--secondary-black-color);
}

.hidden {
  display: none;
}

.settings .modal {
  background-color: var(--bg-gray);
}
.settings .modal-form input,
.modal-form textarea,
.modal-form select {
  border: 1px solid var(--secondary-white-color);
  background-color: var(--primary-white-color);
}

/* ------------------------------
   7. Responsive Design
------------------------------ */
@media (min-width: 768px) {
  nav.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18%;
    min-width: 300px;
    height: 100vh;
    padding: 2rem 0.5rem 1rem;
    transform: none;
  }
  .burger-menu {
    display: none;
  }
  .sidebar .close-btn {
    display: none;
  }
  header {
    display: flex;
    flex-direction: row;
  }
  .search-bar {
    width: 20rem;
  }
  .about-card {
    width: 50%;
  }
  .about-card .thumbnail {
    height: 50%;
  }
}
